main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
    gap: 7vh;
    padding-bottom: 70px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 30px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.row {
    gap: 30px;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px
}